@model List<Feature>
<header>
    <div class="cover bg-light">
        <div class="container px-3">
	        <div class="row">
				@foreach (var feature in Model)
				{
					<div class="col-lg-6 p-2"><img class="img-fluid" src="@feature.BackGroundImageUrl" alt="hello"/></div>
					<div class="col-lg-6">
						<div class="mt-5">
							<p class="lead text-uppercase mb-1">@feature.Header</p>
							<h1 class="intro-title marker" data-aos="fade-left" data-aos-delay="50">Ben @feature.FirstName @feature.LastName</h1>
							<p class="lead fw-normal mt-3" data-aos="fade-up" data-aos-delay="100">@feature.Title</p>
							@await Component.InvokeAsync("FeatureSocialAccountList")
							<div class="mt-3" data-aos="fade-up" data-aos-delay="200"><a class="btn btn-primary shadow-sm mt-1 hover-effect" href="#contact">Bana ulaşın... <i class="fas fa-arrow-right"></i></a></div>
						</div>
					</div>
				}
	        </div>
        </div>
    </div>
    <div class="wave-bg"></div>
</header>
